* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

p::selection {
    color: white;
    background-color: rgba(244, 168, 92, 0.5);
}

.heading-images {
    height: 325px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    
}

.heading-text {
    color:black;
    font-family: Quicksand, Arial;
    font-weight: 300;
    font-size: 60px;
    padding: 25px 0px 0px 75px;
    margin-top: 30px;
}

.about-me {
    margin: 75px 0px 80px 75px;
    width: 70vw;
    font-size: 18px;
    font-family: Georgia;
    line-height: 35px;

}

.contact-me {
    color:black;
    font-family: Quicksand, Arial;
    font-weight: 300;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 20px;

}

.socials {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    height: min-content;
    justify-content: center;
    max-width: 100%;
    overflow: visible;
    
}

.square {
    height: 300px;
    width: 225px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    margin: 20px 30px 100px 30px;
    box-shadow: 6px 10px 20px rgba(244, 214, 92, 0.5);
    }

.square:hover {
    box-shadow: 6px 10px 20px rgba(244, 168, 92, 0.5);
    transform: translateY(-10px);
    opacity: 1;
}



a {
    text-decoration: none;
    color: white;
    border-style: none;
    background-color:rgb(57, 156, 254);
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 60px;
    opacity: .75;
    font-family: Quicksand;
    font-weight: 600;
    transition: 0.5;

}

a.linkedin-link {
    margin-left: 40px;
    padding: 5px 40px 5px 40px;
}

a:hover {
    cursor: pointer;
    opacity: 1;
    
}

footer {
    font-family: quicksand;
    font-size: 11px;
    display: flex;
    justify-content: right;
    padding: 0 8px 8px 0;
    color:rgba(194, 74, 10, 0.5)
}